body{
  margin: 0px; /*resetando margin automática*/
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  margin: 0px; /*resetando margin automática*/
  padding: 0px; /*resetando padding automático*/
  list-style: none; /*resetando estilo de lista automático*/
}

a{
  text-decoration: none; /*reset automático*/
}

.logo-img{
  padding-top: 7px;
}

.header-bg{
  background-color: #309993;
}

.header{
  display: flex; /*item ao lado do outro*/
  justify-content: space-between; /*itens de ponta a ponta*/
  align-items: center;
  padding: 20px; /*desgrudar marca e itens-menu*/
  max-width: 1160px; /*design responsivo*/
  margin-left: auto; /*responsivo: alinhar ao centro*/
  margin-right: auto; /*responsivo: alinhar ao centro*/

  flex-wrap: wrap; /*quebra de menu: quando um item não couber um ao lado do outro, quebra para um ficar abaixo do outro*/
  gap: 20px; /*quebra quando chegar a distancia de 20px*/
}

.header-menu{
  display: flex; /*item ao lado do outro*/
  flex-wrap: wrap; /*quebra de itens do menu para um ficar abaixo do outro*/
  gap: 40px; /*espaço entre itens*/
}

.header-menu a{
  display: inline-block; /*o elemento a, é inline, então por padrão quando um item cair abaixo do outro, o padding não vai funcionar bem, por isso é preciso colocar o display inline-block*/
  padding: 16px 0px; /*aumentar area de contato*/
  color: #1E1E1E;
  font-weight: bold;
}

.header-menu a:after{  /*efeito de sublinhado ao colocar o mouse em cima*/
 content: "";
 display: block;
 height: 2px;
 width: 0px;
 background: #000000;
 transition: 0.3s;
}

.header-menu a:hover:after{ /*efeito de sublinhado ao colocar o mouse em cima*/
  width: 100%;
 }

@media (max-width: 800px){
  .header-menu{
    gap: 20px; /*espaço entre itens*/
  }
  
  .header-menu a{
    background-color: #000000;
    color: #309993;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover{
    background-color: #033C39;
  }

  .header-menu a::after{
    display: none;
  }
}

@media (max-width: 500px){
  .header-menu{
    gap: 12px;
  }

  .header-menu a{
    padding: 8px 12px;
    font-size: 14px;
  }
}